<form ng-submit="distribuirPresentacionesLibres()">
	<fieldset>

		<legend>Distribuir presentaciones de la tanda <br/><b>{{tanda.titulo}}</b></legend>
		
		<p>
			Seleccione la forma de distribución de presentaciones deseada 
		</p>
		
		<label class="radio"> </label>
			
			<input type="radio" ng-model="modo" value="strict"/> Estricto <br />
			<input type="radio" ng-model="modo" value="intermediate"/> Eficiente (Recomendado) <br />
			<input type="radio" ng-model="modo" value="forced"/> Forzado <br />
		
		<div class="alert alert-info">
			Ayuda: 
			<ul>
				<li>El <b>modo estricto</b> carga los bloques con presentaciones que cumpen con todos los criterios que definidos en su configuración: duración, area de referencia, eje temático, auditorio</li>
				<li>El <b>modo eficiente</b> funciona similar al modo estricto, pero ignora el factor de duración (los bloques pueden extenderse más de lo preestablecido) </li>
				<li>El <b>modo Forzado</b> trata de acomodar la mayor cantidad de  presentaciones posible de acuerdo 
				al modo estricto, luego lo hace de acuerdo al modo eficiente, y finalmente lo hace ignorando los ejes temáticos y las áreas de referencia 
				definidas para los bloques</li>
			</ul>  
		</div>
		
		<div>
			<button type="submit" class="btn btn-primary">Distribuir</button>
			<a href="#/tanda/{{tanda.id}}" class="btn btn-danger">Cancelar y volver a la tanda</a>
		</div>
	</fieldset>
</form>