{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Nueva Presentacion Externa{% endblock %}

{% block content %}
<h1>Nueva Presentacion Externa</h1>

<form action="{{ path('presentacionexterna_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('presentacion') }}">
            Cancelar
        </a>
    </li>
</ul>


{% endblock %}