{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Nuevo evento{% endblock %}

{% block content %}

<form action="{{ path('evento_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('evento') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
