{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Crear Instancia de Evento{% endblock %}

{% block content %}


<form action="{{ path('instancia_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('instancia') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}