
<!-- Start: page-top-outer -->
<div id="page-top-outer">    

<!-- Start: page-top -->
<div id="page-top">

	<!-- start logo -->
	<div id="logo">
	<a href=""><img width="" height="" alt="" src="{{asset('images/shared/cpm.jpg')}}"></a>
	</div>
	<!-- end logo -->
	
	<!--  start top-search -->
	
	<div id="top-search" style="display:none">
		<table cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
		<td><input type="text" class="top-search-inp" onfocus="if (this.value=='Search') { this.value=''; }" onblur="if (this.value=='') { this.value='Search'; }" value="Search"></td>
		<td>
		<select class="styledselect">
			<option value=""> All</option>
			<option value=""> Products</option>
			<option value=""> Categories</option>
			<option value="">Clients</option>
			<option value="">News</option>
		</select> 
		</td>
		<td>
		<button>Buscar!!</button>
		</td>
		</tr>
		</tbody></table>
	</div>
	
 	<!--  end top-search -->
 	<div class="clear"></div>

</div>
<!-- End: page-top -->

</div>
<!-- End: page-top-outer -->
	
<div class="clear">&nbsp;</div>

