{% extends 'CpmJovenesBundle:Layout:login_layout.html.twig' %}

{% block content %}

<p>A continuación ingrese sus datos para registrarse en el programa</p>
<form action="{{ path('registrarse') }}" method="post" {{ form_enctype(form) }}>
    {# incluyo el formulario de seleccion de distrito y localidad  #}  
    {% include "CpmJovenesBundle:Localidad:localidad_distrito_form.html.twig" %}
   
   {{ form_widget(form) }}
    <p>
        <button type="submit">Registrarse</button>
    </p>
</form>
{% endblock %}