   		<script>
   			function buscar_localidades() {
   				 id = jQuery("#distrito").val();
   				 
   				 url = "{{ path('localidad_find_by_distrito') }}"; 
   				 $.getJSON(  url, { distrito_id : id} , function(data) {
   				 	select = jQuery("#cpm_jovenesbundle_proyectotype_escuela_localidad");
   				 	select.empty();
   				    if (data.length > 0) {
	   				 	for (var i=0; i<data.length; i++) 
	   				 	{
	   				 		select.append("<option value="+data[i].id+">"+data[i].nombre+"</option>");
	   				 	}	 
	   				 	select.removeAttr("disabled");	
	   				 } else {
	   					select.attr("disabled","disabled"); 	 
	   				 }
   				 });
   			}
   			$(document).ready(function() { $("#distrito").trigger("change"); });
</script>


 	<div>
 	<label for="distrito" class=" required">Distrito</label> 
   		
   		<select id="distrito" name="distrito" onchange="buscar_localidades();">
   		<option value="-1" selected>(seleccione un distrito)</option> 
        {% for distrito in distritos  %}
           <option value="{{distrito.id}}">{{distrito.nombre}}</option>
   		{% endfor %}
   		</select>
   	</div>
