{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% import "CpmJovenesBundle:Perfil:proyecto_box.macro.html.twig" as proyecto_box %}

{% block title %}  {% endblock %}

{% block content %}

<div id="welcome-message">
	<h2>Hola {{usuario.nombre}}, le damos la bienvenida al Sistema de usuarios del <i>Programa Jóvenes y Memoria, recordamos para el futuro </i></h2>
	

	<ul id="user-actions" class="record_actions" style="float:right">
	    {% for accionUsuario in jym.getAccionesUsuario() %}
		<li>
			<a href="{{ path(accionUsuario.href) }}">{{accionUsuario.label}}</a>
		</li>
		{% endfor %}
	</ul>
		<hr/>
</div>
		{% if proyectos|length > 0 %}
		<script>	
			$("a[href='{{path('proyecto_wizzard')}}']").click(function(event) { 
																		event.preventDefault();  
																		href = $(this).attr('href');
																		
																		$( "#dialog-confirm" ).dialog({
																					resizable: false,
																					width:650,
																					height:200,
																					modal: true,
																					buttons: {
																						"Sí, quiero inscribir otra escuela": function() {
																								$( this ).dialog( "close" );
																							   window.location = href;
																						},
																						"No, gracias": function() {
																							$( this ).dialog( "close" );
																						}
																					}
																				});
																	});
			</script>	
			<div id="dialog-confirm" title="Escuela ya inscripta" style="display:none">
				<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
						Usted ya inscribió a una escuela <strong> ¿está seguro que quiere inscribir otra?</strong>
				 </p>
			</div>
	{% endif %}
	
	{% include 'CpmJovenesBundle:Perfil:listar_proyectos_docente.html.twig' %}
			        
{% endblock %}