<form ng-submit="saveBloque()">
<fieldset>
	<legend>{{ textButton }} Bloque</legend>
	<input type="hidden" ng-model="bloque.auditorioDia" required>
	
	
	<label>Nombre</label>
	<input type="text" placeholder="Nombre" ng-model="bloque.nombre" required>
		
	<label>Hora de Inicio (Formato en mm:ss, ej: 17:00 )</label>
	<input type="time" placeholder="Hora de Inicio" ng-model="bloque.horaInicio" required>
		
	<label>Duración (en minutos)</label>
	<input type="number" value="{{bloque.duracion}}" ng-model="bloque.duracion" required min="1">
	
	<label>Posición</label>
	<input type="number" value="{{bloque.posicion}}" ng-model="bloque.posicion" required min="-1">
	
	<label class="checkbox">
		<input type="checkbox" ng-model="bloque.tienePresentaciones" >
		Es un bloque de presentaciones?
	</label>
	
	<div ng-show="bloque.tienePresentaciones">
		<label>Ejes Temáticos {{bloque.ejesTematicos.length}}Ss</label>
		<select ng-model="bloque.ejesTematicos" ng-options="i.nombre for i in ejesTematicos track by i.id "
		multiple="multiple"></select>
		
		<label>Areas de Referencia {{bloque.areasReferencia.length}}Ss</label>
		<select ng-model="bloque.areasReferencia"  ng-options="i.nombre for i in areasReferencia track by i.id "
		multiple="multiple"></select>
	</div>
	
	
	<div>
		<button type="submit" class="btn btn-primary">{{ textButton }} Bloque</button>
		<a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
	</div>
</fieldset>
</form>