<form ng-submit="savePresentacion()">
<h2>{{ textButton }} Presentacion Externa {{presentacion.id}}</h2>
	<input type="hidden" ng-model="presentacion.tipo" value="externa" required>
	
<fieldset>
	<legend>Datos de la escuela</legend>
	
	<label>Escuela</label>
	<input type="text" placeholder="Escuela" ng-model="presentacion.escuela" >
	
	<label>Coordinador</label>
	<input type="text" placeholder="Nombre" ng-model="presentacion.nombreCoordinador" >
	<input type="text" placeholder="Apellido" ng-model="presentacion.apellidoCoordinador" >
		
	<label>Localidad</label>
	<input type="text" placeholder="Localidad" ng-model="presentacion.localidad" >
	
	<label>Distrito</label>
	<input type="text" placeholder="Distrito" ng-model="presentacion.distrito" >
	
	<label>Provincia</label>
	<input type="text" placeholder="Provincia" ng-model="presentacion.provincia" required>
	
	<label>Cantidad de Personas confirmadas</label>
	<input type="number" value="{{presentacion.personasConfirmadas}}" ng-model="presentacion.personasConfirmadas" required min="0">
	
	<legend>Datos del Poyecto</legend>	
	
	<label>Titulo</label>
	<input type="text" placeholder="Titulo" ng-model="presentacion.titulo" >
	
	<label>Producción/Soporte</label>
	<select ng-model="presentacion.tipoPresentacion" ng-required="true" ng-options="tp.nombre for tp in producciones track by tp.id" required></select>
	
	<label>Eje Temático</label>
	<select ng-model="presentacion.ejeTematico" ng-required="true" ng-options="t.nombre for t in ejesTematicos track by t.id "></select>
		
	<label>Area de Referencia</label>
	<select ng-model="presentacion.areaReferencia" ng-required="true" ng-options="ar.nombre for ar in areasReferencia track by ar.id "></select>
	
	<label>Valoracion</label>
	<input type="text" placeholder="Valoracion" ng-model="presentacion.valoracion" required>
		
	<label>Duración (en minutos)</label>
	<input type="number" value="{{presentacion.duracion}}" ng-model="presentacion.duracion" min="0">
	
	<div>
		<button type="submit" class="btn btn-primary">{{ textButton }} presentacion</button>
		<a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
	</div>
</fieldset>
</form>
