<div class="caja-bloque" id="bloque-{{bloque.id}}">
	<div class="header-caja">
	   
		<a class="titulo">{{bloque.horaInicio}}HS {{bloque.nombre}}</a>
<!-- 		<div class=" btn-group "> -->
<!-- 			<button class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown"> -->
<!-- 				<b class="caret"></b> -->
<!-- 			</button> -->
<!-- 			<ul class="dropdown-menu "> -->
<!-- 				<li><a href="#/bloque/{{bloque.id}}/edit" title="Editar Bloque">Editar</a></li> -->
<!-- 				<li><a href="#/bloque/{{bloque.id}}/remove" title="Eliminar Bloque">Eliminar</a></li> -->
<!-- 				<li class="divider"></li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
		<div class=" popover" title="Bloque {{bloque.nombre}}" style="display: none" >
			 {{bloque.nombre}} [{{bloque.id}}]
		
			<button class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown">
				<b class="caret"></b>
			</button>
			<ul class="dropdown-menu ">
				<li><a href="#/bloque/{{bloque.id}}/edit" title="Editar Bloque">Editar</a></li>
				<li><a href="#/bloque/{{bloque.id}}/remove" title="Eliminar Bloque">Eliminar</a></li>
				<li class="divider"></li>
			</ul>
		</div>
	</div>

	<div ng-model="bloque.presentaciones" ng-show="bloque.tienePresentaciones" 
		class="caja-bloque-presentaciones bloque-dropbox" style="min-height: {{b.duracion}}"
		data-drop="true" data-drag="false" data-bloque="{{bloque.id}}"
		jqyoui-droppable="presentacion_droppable" data-jqyoui-options="presentacion_droppable_options">

		<!-- PRESENTACION -->
		<div ng-repeat="p in bloque.presentaciones" ng-model="bloque.presentaciones" 
			class="badge badge-presentacion {{ (p.valoracion == 'Muy bueno') ? 'presentacion-muy_buena' : '' }}" style="height: {{p.duracion}}"
			data-presentacion="{{p.id}}" data-bloque="{{bloque.id}}"  
			data-drag="true" jqyoui-draggable="{index:{{$index}},placeholder:false,animate:true}" data-jqyoui-options="presentacion_draggable_options">
			{{p.escuela}} {{ (p.valoracion == "Muy bueno") ? "(MB)" : "" }}
			 
		</div>
	</div>
</div>