{% extends 'CpmJovenesBundle:Layout:login_layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
	
<p>Bienvenido al Programa Jóvenes y Memoria de CPM.</p>

<form action="{{ path("_security_check") }}" method="post" id="login">
	<table border="0" cellpadding="0" cellspacing="0">
	
	<tr>
	<th><label for="username">Email</label></th>
	<td><input type="text" id="username" name="_username" value="{{ last_username }}" /></td>
	</tr>
		
	<tr>
		<th><label for="password">Clave</label></th>
		<td><input type="password" id="password" name="_password" onfocus="this.value=''" /></td>
	</tr>
	
	<tr>
		<th></th>
		<td><input type="submit" class="submit" value="Ingresar" /></td>
	</tr>
</table>
</form>

<ul id="login-extra-options">
	<li><a href="{{path('recuperar_clave_form')}}">Recuperar Clave</a></li>
	<li><a href="{{path('registrarse_form')}}">Registrarse</a></li>
</ul>
	
{% endblock %}