<form ng-submit="savePresentacion()">
<h2>{{ textButton }} Presentación ({{presentacion.tipo}} {{presentacion.id}})</h2>
	<input type="hidden" ng-model="presentacion.tipo" value="externa" required>
	
<fieldset>
	<div ng-show="presentacion.tipo != 'interna'">
		<legend>Datos de la escuela</legend>
		
		<label>Escuela</label>
		<input type="text" placeholder="Escuela" ng-model="presentacion.escuela" >
		
		<label>Coordinador</label>
		<input type="text" placeholder="Nombre" ng-model="presentacion.nombreCoordinador" >
		<input type="text" placeholder="Apellido" ng-model="presentacion.apellidoCoordinador" >
			
		<label>Localidad</label>
		<input type="text" placeholder="Localidad" ng-model="presentacion.localidad" >
		
		<label>Provincia</label>
		<select ng-model="presentacion.provincia" ng-required="true" ng-options="tp.nombre as tp.nombre for tp in provincias" required>
			<option value="">Seleccione una provincia</option>
		</select>
		
		<label>Cantidad de Personas confirmadas</label>
		<input type="number" value="{{presentacion.personasConfirmadas}}" ng-model="presentacion.personasConfirmadas" required min="0">
		
		<legend>Datos del Poyecto</legend>	
		
		<label>Titulo</label>
		<input type="text" placeholder="Titulo" ng-model="presentacion.titulo" >
		
		<label>Producción/Soporte</label>
		<select ng-model="presentacion.tipoPresentacion" ng-required="true" ng-options="tp.id as tp.nombre for tp in producciones" required></select>
		
		<label>Eje Temático</label>
		<select ng-model="presentacion.ejeTematico" ng-required="true" ng-options="t.id as t.nombre for t in ejesTematicos"></select>
			
		<label>Area de Referencia</label>
		<select ng-model="presentacion.areaReferencia" ng-required="true" ng-options="ar.id as ar.nombre for ar in areasReferencia "></select>
		
		<label>Valoracion</label>
		<select ng-model="presentacion.valoracion" ng-required="true" ng-options="for val in valoraciones"></select>
			
	<!-- 	<label>Duración (en minutos)</label> -->
	<!-- 	<input type="number" value="{{presentacion.duracion}}" ng-model="presentacion.duracion" min="0"> -->
		
	</div>
	
	<label class="checkbox" ng-show="presentacion.id">
		<!-- Solo se permite cambiar la tanda de la presentación cuando no es nueva  -->
		<input type="checkbox" ng-model="cambiarDeTanda" >
		Desea cambiar la presentacion de tanda?
	</label>
	
	<div ng-show="cambiarDeTanda">
		<label>Nueva tanda {{presentacion.tanda}}</label>
		<select ng-model="presentacion.tanda"  ng-options="t.id as t.titulo for t in tandas" ></select>
	</div>
	
	<div>
		<button type="submit" class="btn btn-primary">{{ textButton }} presentación</button>
		<a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
	</div>
</fieldset>
</form>
