<!--     TITULO -->

 
<div class="row-fluid">
	<div class="span5">
		<div ng-hide="tanda.numero">Cargando Tanda</div>
		<div ng-show="tanda.numero"><b>Tanda {{tanda.titulo}}</b>
			<div class="btn-group" >
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/tanda/" target="_blank">Volver al listado de tandas</a></li>
					<li><a href="#/presentacion/new/tanda/{{tanda.id}}"><i class="icon-plus"></i>Agregar Presentacion Externa</a></li>
					<li class="divider"></li>
					<li><a href="#/dia/new/tanda/{{tanda.id}}"><i class="icon-plus"></i>Agregar Dia</a></li>
					<li class="divider"></li>
					<li><a href="#/tanda/{{tanda.id}}/reinicializar"><i class="icon-repeat"></i>Reinicializar la tanda </a></li>
					<li><a href="#/tanda/{{tanda.id}}/distribuir"><i class="icon-random"></i>Distribuir automaticamente</a></li>
<!-- 					<li><a ng-click="tanda.distribuirPresentaciones(false)"><i class="icon-random"></i>Distribuir automaticamente</a></li> -->
				</ul>
			</div>
		</div>
	</div>
	<div class="span5" >
		<div ng-repeat="log_line in Logger.buffer" class="alert alert-{{log_line.level}}">
			{{log_line.time}} &rarr; {{log_line.message}}
		</div>
	</div>
	<div class="span2 referencias-box">
			<p>Referencias</p>
			<ul>
				<li><i class="icon-warning-sign"></i>Eje o área incorrectos</li>
				<li><i class="icon-ban-circle"></i>Auditorio incorrecto</li>
				<li><i class="icon-plane"></i>Presentación externa</li>
				<li><i class="icon-time"></i>Tiempo de bloque excedido</li>
			</ul>
	</div>
	
</div>
<hr/>	
<!-- CRONOGRAMA-->
<table class="caja-cronograma" ng-init="initPopovers()">
	<tr ng-repeat="dia in tanda.dias" class="caja-dia">
    	<th class="header-caja ">
            <div class="header-caja">
	            Dia {{dia.numero}}
				<div class="operaciones btn-group ">
						<button class="btn btn-medium btn-primary dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></button>
						<ul class="dropdown-menu " >
							<li><a href="#/auditorioDia/new/dia/{{dia.id}}"><i class="icon-plus"></i>Agregar Auditorio al día</a></li>
							<li class="divider"></li>
							<li><a href="#/dia/{{dia.id}}/duplicar"><i class="icon-plus"></i>Duplicar Dia (Copia auditorios y bloques sin presentaciones)</a></li>
							<li><a href="#/dia/{{dia.id}}/remove"><i class="icon-plus"></i>Eliminar Dia</a></li>
					    </ul>
	  			</div>
  			</div>
        </th>
        <td class="caja caja-auditorio-dia" ng-repeat="auditorioDia in dia.auditoriosDia ">
              <div class="header-caja">
              <div class="titulo">{{auditorioDia.auditorio.nombre}}</div>
				<div class="operaciones btn-group ">
					<button class="btn btn-medium btn-primary dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></button>
					<ul class="dropdown-menu " >
				      <li><a href="#/bloque/new/auditorioDia/{{auditorioDia.id}}">Agregar Bloque</a></li>
				      <li class="divider"></li>
				      <li><a href="#/auditorioDia/{{auditorioDia.id}}/edit">Editar Auditorio</a></li>
				      <li><a href="#/auditorioDia/{{auditorioDia.id}}/remove">Quitar Auditorio del día</a></li>
				    </ul>
  				</div>
              </div>
              <!-- begin BLOQUES -->
              <div class="row-fluid text-center" ng-show="auditorioDia.bloques.length == 0">Sin bloques</div>
              
              <div class="row-fluid" ng-init="countBloquesPorColumna=auditorioDia.bloques.length/2">
            	<div class="span6">
			  	  <div  ng-repeat="bloque in auditorioDia.bloques | toArray | orderBy:'horaInicio'" ng-show="$index < countBloquesPorColumna" ng-include="asset('tanda-show-bloque.html')">{{$index}}</div>
				</div>
    	       	<div class="span6">
			  	  <div ng-repeat="bloque in auditorioDia.bloques | toArray| orderBy:'horaInicio'" ng-show="$index >= countBloquesPorColumna" ng-include="asset('tanda-show-bloque.html')">{{$index}}</div>
				</div>
              </div>
              
              <!--end BLOQUES -->
              
        </td><!-- end auditorio-->
        <td colspan="100%">&nbsp;</td>
	</tr><!-- end dia-->
</table>
    


<!-- PRESENTACIONES LIBRES-->
<div class="row-fluid presentaciones_libres" ng-model="tanda.presentaciones_libres" 
          	data-drop="true" jqyoui-droppable="presentacion_droppable" data-jqyoui-options="presentacion_droppable_options">
	      	<span ng-show="tanda.presentaciones_libres.length > 0">Quedan <b>{{tanda.presentaciones_libres.length}}</b> presentaciones Libres</span> 
			<span ng-hide="tanda.presentaciones_libres.length > 0">Todas las presentaciones de la tanda han sido asignadas</span> 
         
             <div ng-repeat="p in tanda.presentaciones_libres" ng-model="tanda.presentaciones_libres" 
             data-unique="1" bs-popover="asset('tanda-show-presentacion-options.html')" data-placement="top"
				
             	data-presentacion="{{p.id}}" class="badge badge-presentacion" ng-class="get_css_classes(p)" ng-style="get_css_styles(p)" 
             	data-drag="true" jqyoui-draggable="{index:{{$index}},placeholder:false,animate:true}" data-jqyoui-options="presentacion_draggable_options" > 
	          	<i ng-show="p.tipo == 'externa'" class="icon-plane"></i>
	          	{{p.escuela}} ({{p.distrito}})
		</div>
	</div>
 
