{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Editar Presentacion Interna {% endblock %}

{% block content %}
<h1>Editar Presentacion Interna </h1>

<form action="{{ path('presentacioninterna_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('presentacion') }}">
            Cancelar
        </a>
    </li>
</ul>

{% endblock %}