<div class="clear">&nbsp;</div>

<!-- start footer -->
<div id="footer">
	<!--  start footer-left -->
	<div id="footer-left">

	Desarrollado por 2230 Sistemas &copy; <span id="spanYear">{{ "now"|date("Y") }}</span> <a href="">contacto@2230.com.ar</a>. Todos los derechos reservados.</div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-29893521-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-29893521-2');
</script>


<!-- end footer -->
