{% import "CpmJovenesBundle:Proyecto:excel.html.twig" as exporter %}
	<table>
		<tr> {{ exporter.print_header() }}</tr>
		{% for entity in entities %}
			<tr>{{ exporter.print_entity(entity) }}</tr>
		{% endfor %}
	</table>
