{% extends 'CpmJovenesBundle:Default:admin_layout.html.twig' %}

{% block content %}

<h1>Agregar Tipo de Producción</h1>

<form action="{{ path('produccion_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Agregar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('produccion') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
