<form ng-submit="saveAuditorioDia()" >
<fieldset>
	
	<legend>{{ textButton }} Auditorio del dia {{auditorioDia.dia}}</legend>
	<input type="hidden" ng-model="auditorioDia.dia" >
	<input type="hidden" ng-model="auditorioDia.id" >
	
	<label>Auditorio</label>
	<select ng-model="auditorioDia.auditorio" ng-required="true" ng-options="a.nombre for a in auditorios track by a.id" required></select>
	
	<div>
		<button type="submit" class="btn btn-primary">{{ textButton }}</button>
		<a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
	</div>
</fieldset>
</form>