<fieldset>
	<legend>{{ textButton }} Bloque</legend>
	<input type="hidden" ng-model="bloque.auditorio_dia" required>
	
	
	<label>Nombre</label>
	<input type="text" placeholder="Nombre" ng-model="bloque.nombre" required>
		
	<label>Hora de Inicio</label>
	<input type="time" placeholder="Hora de Inicio" ng-model="bloque.hora_inicio" required>
		
	<label>Duración</label>
	<input type="number" placeholder="Duración" ng-model="bloque.duracion" required>
		
		<label class="checkbox">
		<input type="checkbox" ng-model="bloque.tipo" >
		Es un bloque de presentaciones?
	</label>
	<div>
		<button type="submit" class="btn btn-primary">{{ textButton }} Bloque</button>
		<a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
	</div>
</fieldset>
