<div class="caja-bloque" id="bloque-{{bloque.id}}">

	<div class="header-caja" data-unique="1" bs-popover="asset('tanda-show-bloque-options')">
		<a class="btn btn-link" >{{bloque.horaInicio}}HS {{bloque.nombre}}</a>
	</div>

	<div ng-model="bloque.presentaciones" ng-show="bloque.tienePresentaciones" 
		class="caja-bloque-presentaciones bloque-dropbox" style="min-height:{{bloque.duracion}}px"
		data-drop="true" data-drag="false" data-bloque="{{bloque.id}}"
		jqyoui-droppable="presentacion_droppable" data-jqyoui-options="presentacion_droppable_options">

		<!-- PRESENTACION -->
		
		<div ng-repeat="p in bloque.presentaciones" ng-model="bloque.presentaciones"
		  	data-unique="1" bs-popover="asset('tanda-show-presentacion-options.html')" 
			class="badge badge-presentacion"  ng-class="get_css_classes(p)" ng-style="get_css_styles(p)"
			data-presentacion="{{p.id}}" data-bloque="{{bloque.id}}"  
			data-drag="true" jqyoui-draggable="{index:{{$index}},placeholder:false,animate:true}" data-jqyoui-options="presentacion_draggable_options">
			{{p.escuela}} {{ (p.valoracion == "Muy bueno") ? "(MB)" : "" }}
			 
		</div>
	</div>
</div>