<!--     TITULO -->

 
<div class="row-fluid">
	<div class="offset1 span2">
		<div ng-hide="tanda.numero">Cargando Tanda</div>
		<div ng-show="tanda.numero"><b>Tanda {{tanda.numero}}</b>
			<div class="btn-group" >
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/tanda/" target="_blank">Volver al listado de tandas</a></li>
					<li class="divider"></li>
					<li><a href="#/dia/new/tanda/{{tanda.id}}"><i class="icon-plus"></i>Agregar Dia</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="icon-repeat"></i>Reinicializar la tanda (TBD)</a></li>
					<li><a ng-click="tanda.distribuirPresentaciones(false)"><i class="icon-random"></i>Distribuir automaticamente</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span9" >
		<div ng-repeat="log_line in Logger.buffer" class="alert alert-{{log_line.level}}">
			{{log_line.time}} &rarr; {{log_line.message}}
		</div>
	</div>
</div>
<hr/>	
<!-- CRONOGRAMA-->
<table class="caja-cronograma" ng-init="initPopovers()">
	<tr ng-repeat="dia in tanda.dias" class="caja-dia">
    	<th class="header-caja ">
            Dia {{dia.numero}}
			<div class="operaciones btn-group ">
					<button class="btn btn-medium btn-primary dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></button>
					<ul class="dropdown-menu " >
						<li><a href="#/auditorioDia/new/dia/{{dia.id}}"><i class="icon-plus"></i>Crear AuditorioDia</a></li>
						<li><a href="#/dia/{{dia.id}}/remove"><i class="icon-plus"></i>Eliminar Dia</a></li>
						<li class="divider"></li>
						<li><a href="#">Copiar desde otro día (TBD)</a></li>
				    </ul>
  			</div>
        </th>
        <td class="caja caja-auditorio-dia" ng-repeat="auditorioDia in dia.auditoriosDia ">
              <div class="header-caja">
              <div class="titulo">{{auditorioDia.auditorio.nombre}}</div>
				<div class="operaciones btn-group ">
					<button class="btn btn-medium btn-primary dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></button>
					<ul class="dropdown-menu " >
				      <li><a href="#/bloque/new/auditorioDia/{{auditorioDia.id}}">Agregar Bloque</a></li>
				      <li class="divider"></li>
				      <li><a href="#/auditorioDia/{{auditorioDia.id}}/edit">Editar AD</a></li>
				      <li><a href="#/auditorioDia/{{auditorioDia.id}}/remove">Eliminar AD</a></li>
				    </ul>
  				</div>
              </div>
              <!-- begin BLOQUES -->
              <div class="row-fluid text-center" ng-show="auditorioDia.bloques.length == 0">Sin bloques</div>
              
              <div class="row-fluid">
            	<div class="span6">
			  	  <div ng-repeat="bloque in auditorioDia.bloques" ng-show="$index < 2" ng-include="asset('tanda-show-bloque.html')"></div>
				</div>
    	       	<div class="span6">
			  	  <div ng-repeat="bloque in auditorioDia.bloques" ng-show="$index >= 2" ng-include="asset('tanda-show-bloque.html')"></div>
				</div>
              </div>
              
              <!--end BLOQUES -->
              
        </td><!-- end auditorio-->
        <td colspan="100%">&nbsp;</td>
	</tr><!-- end dia-->
</table>
    


<!-- PRESENTACIONES LIBRES-->
<div class="row-fluid presentaciones_libres">
		<span ng-show="tanda.presentaciones_libres.length > 1">Quedan <b>{{tanda.presentaciones_libres.length}}</b> presentaciones Libres</span> 
		<span ng-hide="tanda.presentaciones_libres.length > 1">Todas las presentaciones de la tanda han sido asignadas</span> 
          <div ng-model="tanda.presentaciones_libres" 
          	data-drop="true" jqyoui-droppable="presentacion_droppable" data-jqyoui-options="presentacion_droppable_options">
	      
             <div ng-repeat="p in tanda.presentaciones_libres" ng-model="tanda.presentaciones_libres" 
             	data-presentacion="{{p.id}}" class="badge badge-presentacion" style="height:{{p.duracion}}px;" 
             	data-drag="true" jqyoui-draggable="{index:{{$index}},placeholder:false,animate:true}" data-jqyoui-options="presentacion_draggable_options" > 
	          	{{p.escuela}}
	          </div>
	</div>
 </div>
 
